<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Potubbie Twitch Manager</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Chat:</h1>
        <ul>
            <% chat.map((msg)=>{ %>
                <li>
                    <%= msg %>
                </li>
              <% }) %>
        </ul>
        <a href="/" class="btn btn-primary btn-lg">Main Dashboard</a>
    </div>
</div>

</body>
</html>