<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Potubbie Twitch Manager</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container">
    <div class="jumbotron">
        <h2>Chat:</h2>
        <iframe id="twitch-chat-embed"
                src="https://www.twitch.tv/embed/potubbie/chat?parent=po-twitch-bot.herokuapp.com"
                height="500"
                width="350">
        </iframe>


        <a href="/" class="btn btn-primary btn-lg">Main Dashboard</a>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>

</body>
</html>