<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Potubbie Twitch Manager</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-rqn26AG5Pj86AF4SO72RK5fyefcQ/x32DNQfChxWvbXIyXFePlEktwD18fEz+kQU" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>Bot status: <i style="color: #09c20f" class="fad fa-circle"></i></p>
        <a href="/chat" class="btn btn-primary btn-lg">Monitor Chat</a>
    </div>
</div>

</body>
</html>